@using Excel.Entities
@model Excel.Web.Models.DashboardModel

@{
    ViewBag.Title = "My Dashboard";
}

<h2>My Upcoming Sessions</h2>

<div class="table-responsive">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Remove</th>
                <th>Hour</th>
                <th>Date</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody id="upcomingSessions">
            @foreach (var s in Model.MySessions)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Remove", "RemoveSession",
                            new { sessionId = s.Id },
                            new AjaxOptions { UpdateTargetId = "upcomingSessions" })
                    </td>
                    <td>@s.Hour</td>
                    <td>@s.Day.Date.ToLongDateString()</td>
                    <td>@s.Location.Name</td>
            </tr>
            }
        </tbody>    
    </table>
</div>

