@model Excel.Web.Models.AthleteData

<div class="container-fluid">
    @{int col = 0;}
    @{bool color = true;}
    @foreach (var item in Model.Athletes)
    {
        if (col == 0)
        {
            @:<div class="row">
        }
        if (color)
        {
            @:<div class="col-sm-4" style="background-color:lightgray;">@item</div>
        }
        else
        {
            @:<div class="col-sm-4" style="background-color:ghostwhite;">@item</div>
        }

        col = col + 1;
        if(col == 3)
        {
            @:</div>
            color = !color;
            col = 0;
        }
    }
</div>
