@model Excel.Web.Models.SessionModel

@foreach (var item in Model.SessionsWithAthletes.AthleteData)
{
    <div>
        <h3>@item.Time</h3>
        @Ajax.ActionLink("Add", "_OneSession", new { hour = item.Hour, dt = Model.SessionDateTime }, new AjaxOptions { UpdateTargetId = item.DivId })
        <div id=@item.DivId>
            @Html.Partial("_OneSession", item)
        </div>
    </div>
}
