@model Excel.Web.Models.SessionModel

@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "PersonalTraining",
        HttpMethod = "GET"       
    };
}

<h2>Sessions</h2>

@using (Ajax.BeginForm("_PersonalTrainingGrid", ajaxOptions))
{
    @Html.LabelFor(model => model.SessionDateTime, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SessionDateTime)
        <button type="submit">Submit</button>
    </div>
}


<!-- If Personal Training -->
<div id="PersonalTraining">
    @Html.Action("_PersonalTrainingGrid", new { model = Model })
</div>

<!-- Else Sports Training -->


