@model Excel.Web.Models.SessionModel

@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "athletesGrid",
        HttpMethod = "GET"       
    };
}

<h2>Sessions</h2>


@using (Ajax.BeginForm("GetSessionAthleteData", ajaxOptions))
{
    <div>
        @Html.EditorFor(model => model.SessionDateTime)
        <button type="submit">Submit</button>
    </div>
}

<div id="athletesGrid">
    @Html.Action("GetSessionAthleteData", new { model = Model })
</div>
