@model Excel.Web.Models.SessionModel

<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>

@{
    ViewBag.Title = "Index";
}

<h2>Sessions</h2>

@using (Html.BeginForm("TrainingGrid"))
{
    @Html.LabelFor(model => model.SessionDateTime, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SessionDateTime, new { @class = "form-control datepicker", placeholder = "Enter Session date here..." })
        <button type="submit">Submit</button>
    </div>
}

@Html.LabelFor(m => m.LocationSelectList, "Location", new { @class = "control-label ddlLabel sr-only" })
@Html.DropDownList("loc", Model.LocationSelectList,
     new { @onchange = "CallChangefunc(this.value)", @class = "form-control floatLable" })


<!-- If Personal Training -->

@{ Html.RenderPartial("_PersonalTrainingGrid", @Model);}


<!-- Else Sports Training -->

<script>
    function CallChangefunc(val) {
        window.location.href = "/Session/ChangeLocation?locId=" + val;
    }
</script>