
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<ul>
    <li>@Html.ActionLink("Location", "Index", "Location")</li>
    <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
    <li>@Html.ActionLink("Accounting", "Index", "Accounting")</li>
    <li>@Html.ActionLink("Message Of The Day", "Index", "Motd")</li>

</ul>
