@model Excel.Web.Models.QuickScheduleViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Quick Schedule</h2> <h3> @Model.SessionTime - @Model.SessionDate</h3>
@foreach (var item in Model.QuickAthletes)
{
    <p>@item.FirstName @item.LastName</p>
}

