@model Excel.Web.Models.AccountingViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Accounting</h2>

@foreach (var item in Model.PersonalTrainingSessionsWithAthletes)
{
    @item.Hour
    @item.Date
    <ul>
        @foreach (var foo in item.Athletes)
        {
            <li>@foo.FirstName @foo.LastName</li>
        }

    </ul>
}

