@model Excel.Web.Models.AccountingViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Accounting</h2>

@foreach (var item in Model.PersonalTrainingSessionsWithAthletes)
{
    <h4>@item.Date</h4>
    foreach (var bar in item.DaySessionList)
    {
        <h5>Hour @bar.Hour</h5>
        
        <ul>
        @foreach (var foo in bar.Athletes)
        {
            <li>@foo.FirstName @foo.LastName</li>
        }
        </ul>
     }
}

