@model Excel.Web.Models.ScheduleViewModel

@{
    ViewBag.Title = "Index";
}

<h3>Schedules - Personal Training</h3>

<ul>
    @foreach (var item in Model.DardennePersonalTrainingSchedule)
    {
        <li>
            @Html.CheckBoxFor(modelItem => item.IsAvailable)
            @item.HourDisplay
        </li>
    }
</ul>

<h3>Schedules - Sports Training</h3>

<ul>
    @foreach (var item in Model.DardenneSportsTrainingSchedule)
    {
        <li>
            @Html.CheckBoxFor(modelItem => item.IsAvailable)
            @item.HourDisplay
        </li>
    }
</ul>
